---
import type { CardInfo } from "@/lib/model/common.type";

type Props = CardInfo & {class: string};

const CARD_WIDTH_RATIO = 5;

function calcImgHeightRatio(cardInfo: CardInfo)
{
    return Math.round(cardInfo.img.height / cardInfo.img.width * CARD_WIDTH_RATIO)
}

function calcCardHeightRatio(cardInfo: CardInfo)
{
    return calcImgHeightRatio(cardInfo) + (cardInfo.href == undefined ? 0 : 1);
}

const { date, img, title, href, hrefText, class: className } = Astro.props;
const yearMonth = date.toLocaleDateString("default", {
  year: "numeric",
  month: "long",
});

const imgHeightRatio = calcImgHeightRatio(Astro.props);
const cardHeightRatio = calcCardHeightRatio(Astro.props);

---

<div class:list={[className, "card"]} data-height={`${cardHeightRatio}`}>
  <div class="card-img-container">
    <img src={img.url} alt={title} />
    <div>
      <div></div>
    </div>
  </div>
  {
    href != undefined && (
      <div class="card-link-container">
        <p />
      </div>
    )
  }
</div>

<style
  define:vars={{ "img-height": imgHeightRatio, "card-width": CARD_WIDTH_RATIO }}
>
  .card-img-container {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgb(var(--color-default-foreground));
    aspect-ratio: var(--card-width) / var(--img-height);
    border-radius: var(--size-border-radius);
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & > div {
      position: absolute;
      inset: 0;
      z-index: 1;
      background-image: linear-gradient(
        to bottom,
        rgb(var(--color-default-background) / 75%),
        transparent 3rem
      );

      & > div {
        display: flex;
      }
    }
  }
  .card-link-container {
    border-bottom: 1px solid rgb(var(--color-default-foreground));
  }
</style>
