---
import type { CardInfo } from "@/lib/model/common.type";
import { calcImgHeightRatio, CARD_WIDTH_RATIO } from "./card_util";

type Props = CardInfo;

const { date, img, title, href, hrefText } = Astro.props;
const imgHeightRatio = calcImgHeightRatio(Astro.props);
const yearMonth = date.toLocaleDateString("default", {
  year: "numeric",
  month: "long",
});
---

<div class="card">
  <div class="card-img-container">
    <img src={img.url} alt={title} />
    <div>
      <div></div>
    </div>
  </div>
  {
    href != undefined && (
      <div class="card-link-container">
        <p />
      </div>
    )
  }
</div>

<style
  define:vars={{ "img-height": imgHeightRatio, "card-width": CARD_WIDTH_RATIO }}
>
  .card-img-container {
    position: relative;
    width: 100%;
    border-bottom: 1px solid rgb(var(--color-default-foreground));
    aspect-ratio: var(--card-width) / var(--img-height);
    border-radius: var(--size-border-radius);
    overflow: hidden;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    & > div {
      position: absolute;
      inset: 0;
      z-index: 1;
      background-image: linear-gradient(
        to bottom,
        rgb(var(--color-default-background) / 75%),
        transparent 3rem
      );

      & > div {
        display: flex;
      }
    }
  }
  .card-link-container {
    border-bottom: 1px solid rgb(var(--color-default-foreground));
  }
</style>
