---
import Layout from "@/layouts/Layout.astro";
import Head from "@/layouts/Head.astro";
import Section from "@/components/ui/Section.astro";
import Card from "./_card.astro";

import * as ZaneArchProject from "@/lib/model/zane-arch-project"

const cardsCollections = await ZaneArchProject.getAllAsCardInfo();

---

<!doctype html>
<html lang="en">
  <Head
    title="Gallery"
    description="Zane and Kiyo - Ex-Architect couple, Currently in Software Engineering and Product Design."
  />
  <Layout>
    <Section id="gallery-section">
      {
          cardsCollections.map(card => <Card {...card} class="gallery-item"/>)
      }
    </Section>
  </Layout>
</html>

<style>
  :global(#gallery-section)
  {
    gap: var(--spacing-paragraph);
    padding-top: var(--spacing-paragraph);
    padding-bottom: var(--spacing-group);
  }
  :global(.gallery-gutter) {
    flex: 1 1;
    display: inline-flex;
    flex-direction: column;
  }
  :global(.gallery-item) {
  }
</style>

<script>
import { initializeMasonry } from './masonry_util'

initializeMasonry(
  document.querySelector("#gallery-section")!
);


</script>