---
import Layout from "@/layouts/Layout.astro";
import Head from "@/layouts/Head.astro";
import Section from "@/components/ui/Section.astro";
import SectionCell from "@/components/ui/Section.Cell.astro";
import Card from "./_card.astro";

import * as ZaneArchProject from "@/lib/model/zane-arch-project"

const cardsCollections = await ZaneArchProject.getAllAsCardInfo();



---

<!doctype html>
<html lang="en">
  <Head
    title="Gallery"
    description="Zane and Kiyo - Ex-Architect couple, Currently in Software Engineering and Product Design."
  />
  <Layout>
    <Section id="gallery-section">
        <SectionCell class="gallery-gutter-section-cell">
            {
                cardsCollections.map(card => <Card {...card}/>)
            }
        </SectionCell>
        <SectionCell class="gallery-gutter-section-cell">
        </SectionCell>
        <SectionCell class="gallery-gutter-section-cell">
        </SectionCell>        
        <SectionCell class="gallery-gutter-section-cell">
        </SectionCell>
    </Section>
  </Layout>
</html>

<style>
  :global(#gallery-section)
  {
    gap: var(--spacing-paragraph);
  }
  :global(.gallery-gutter-section-cell) {
    padding-bottom: 2rem;
    border: none;
  }
</style>