---
import Layout from "@/layouts/Layout.astro";
import Head from "@/layouts/Head.astro";
import Section from "@/components/ui/Section.astro";
import Card from "./_card.astro";

import * as ZaneArchProject from "@/lib/model/zane-arch-project"
import * as ZaneDevProject from "@/lib/model/zane-dev-project"
import * as KiyoDesignProject from "@/lib/model/kiyo-design-project"

const cardsCollections = await ZaneArchProject.getAllAsCardInfo();
cardsCollections.push(...(await ZaneDevProject.getAllAsCardInfo()));
cardsCollections.push(...(await KiyoDesignProject.getAllAsCardInfo()));

cardsCollections.sort((c1, c2) => c2.date.getTime() - c1.date.getTime());
---

<!doctype html>
<html lang="en">
  <Head
    title="Gallery"
    description="Zane and Kiyo - Ex-Architect couple, Currently in Software Engineering and Product Design."
  />
  <Layout>
    <Section>
      <div id="gallery-section-cell">
      {
          cardsCollections.map(card => <Card {...card} class="gallery-item"/>)
      }
      </div>
    </Section>
  </Layout>
</html>

<style>
  :global(#gallery-section-cell)
  {
    gap: var(--spacing-paragraph);
    padding-top: var(--spacing-paragraph);
    padding-bottom: var(--spacing-group);
    display: flex;
    flex-direction: row;
    visibility: hidden;

    &[data-initialized=true] {
      visibility: visible;
    }
  }
  :global(.gallery-gutter) {
    flex: 1 1;
    display: inline-flex;
    flex-direction: column;
    gap: var(--spacing-paragraph);
  }
  :global(.gallery-item) {
  }
</style>

<script>
import { initializeMasonry } from '@/lib/masonry_util'

initializeMasonry(
  document.querySelector("#gallery-section-cell")!
);
</script>