---
import Section from "@/components/ui/Section.astro";
import SectionCell from "@/components/ui/Section.Cell.astro";
import Typography from "@/components/ui/Typography.astro";

const scrollingTexts = [
  "Cat",
  "Workout",
  "Web Design",
  "Architecture",
  "Life",
  "Coffee",
  "Travel",
  "Software Engineering",
  "Yoga",
  "Love",
]
---

<Section id="hero">
  <SectionCell class="hero-section-cell-base">
    <svg width={"100%"} viewBox="0 0 45 8">
      <title id="zane-n-kiyo">Zane & Kiyo</title>
      <text id="svg-text" x="50%" y="60%"
        textLength={45} lengthAdjust="spacingAndGlyphs"
        font-weight={700} font-size="7.5px"
        dominant-baseline="middle" text-anchor="middle"
      >
        ZANE & KIYO
      </text>
    </svg>
  </SectionCell>
</Section>
<Section>
  <SectionCell class="hero-section-cell-base left-only top-only"}}>
    <Typography variant="h4">
      This is a little digital corner for Zane & Kiyo!
    </Typography>
    <br/>
    <Typography variant="body1" style={{opacity: .5}}>
      Zane and Kiyo met in architecture school during college. Though their paths later diverged—Zane becoming a software engineer and Kiyo a UX designer—they've carried the same creativity and passion from their early days into everything they do.    
    </Typography>
  </SectionCell>
</Section>
<Section>
  <SectionCell>
    <div id="scrolling-keywords">
      {
        scrollingTexts.map(t => (<Typography variant="h4" as="span">{t}</Typography>))
      }
    </div>
  </SectionCell>
</Section>
<Section>
  <SectionCell id="pickle-section-cell" class="hero-section-cell-base top-only left-only">
    <Typography variant="h4">
      And Pickle's Home
    </Typography>
    <br/>
    <Typography variant="body1" style={{opacity: .5}}>
      Yeah, she is our cat. 
      <br/><br/>
      Her favorite activities include: <br/>  
      - Sleeping right in front of her daddy's monitor. Just like now. <br/>
      - Sleeping in the middle of dinner table. <br/>
      - Sleeping between mommy and daddy at night. <br/>
      - And yelling when waiting for us opening her cans.
    </Typography>
  </SectionCell>
</Section>
<Section>
  <SectionCell class="hero-section-cell-base top-only">
    <svg width={"100%"} viewBox="0 0 45 8">
      <title id="zane-n-kiyo">Zane & Kiyo</title>
      <text id="svg-text" x="50%" y="60%"
        textLength={45} lengthAdjust="spacingAndGlyphs"
        font-weight={700} font-size="7.5px"
        dominant-baseline="middle" text-anchor="middle"
      >
        ZANE CHEN
      </text>
    </svg>
    <br/>
    <Typography variant="h6" style={{opacity: .5}}>
      Precision in detail, vision in design, <br/>
      building things one block at a time.
    </Typography>
    <br/>
    <ul>
      <li>
        <Typography variant="body1">
          Once an <a href="https://zane-portfolio.kiyo-n-zane.com/as/architect/project">Architect</a>.
        </Typography>
      </li>
      <li>
        <Typography variant="body1">
          Now a <a href="https://zane-portfolio.kiyo-n-zane.com/">Software Engineer</a>.
        </Typography>
      </li>
      <li>
        <Typography variant="body1">
          A gym bro.
        </Typography>
      </li>
      <li>
        <Typography variant="body1">
          Pickle's Daddy.
        </Typography>
      </li>
      <li>
        <Typography variant="body1">
          Always finding insteresting projects.
        </Typography>
      </li>
    </ul>
  </SectionCell>
  <SectionCell class="hero-section-cell-base top-only">
    <svg width={"100%"} viewBox="0 0 45 8">
      <title id="zane-n-kiyo">Zane & Kiyo</title>
      <text id="svg-text" x="50%" y="60%"
        textLength={45} lengthAdjust="spacingAndGlyphs"
        font-weight={700} font-size="7.5px"
        dominant-baseline="middle" text-anchor="middle"
      >
        KIYO YANG
      </text>
    </svg>
    <br/>
    <Typography variant="h6" style={{opacity: .5}}>
      Solving user and business problems, <br/>
      with solid research and empathy.
    </Typography>
    <br/>
    <ul>
      <li>
        <Typography variant="body1">
          Once an Architect.
        </Typography>
      </li>
      <li>
        <Typography variant="body1">
          Now a UX designer.
        </Typography>
      </li>
      <li>
        <Typography variant="body1">
          A 200-hour Yoga Coach.
        </Typography>
      </li>
      <li>
        <Typography variant="body1">
          Pickle's Mommy.
        </Typography>
      </li>
      <li>
        <Typography variant="body1">
          Always bothered by 👈 Zane's project ideas.
        </Typography>
      </li>
    </ul>
  </SectionCell>
</Section>

<style>
  :global(.hero-section-cell-base) {
    position: relative;
    padding: var(--spacing-component);

    &.left-only {
      padding-right: 50%;
    }
    &.top-only {
      padding-bottom: var(--spacing-block);
    }
  }

  #svg-text {
    fill: rgb(var(--color-default-foreground));
    font-family: var(--typography-h1-fontFamily);
    user-select: none;
  }

  :global(#pickle-section-cell) {
    background-image: url(/public/pickle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom right;
    min-height: 25rem;
  }

  ul {
    padding-inline-start: 1.5rem;

    a {
      text-decoration: underline;
    }
  }

  #scrolling-keywords {
    padding: var(--spacing-paragraph) 0;
    display: flex;
    flex-wrap: nowrap;
    gap: var(--spacing-component);
    overflow-x: hidden;

    &>span {
      text-wrap: nowrap;
    }
  }
</style>
<script>
const container = document.querySelector("#scrolling-keywords")!;

let shiftSize = 0;
const animateStep = () => {
  const firstChild = container.children[0];
  const secondChild = container.children[1];

  if (secondChild.getBoundingClientRect().left < container.getBoundingClientRect().left)
  {
    shiftSize = 0;
    container.removeChild(firstChild);
    firstChild.setAttribute("style", "");
    container.appendChild(firstChild);
  }
  else {
    firstChild.setAttribute("style", `margin-left: ${shiftSize}px;`);
    shiftSize -= .5;
  }

  requestAnimationFrame(animateStep);
}

requestAnimationFrame(animateStep);

</script>