---
interface Props {
  class?: string;
  id?: string;
}

const { class: className, id } = Astro.props;
---

<div class:list={["section", className]} id={id}>
  <slot />
</div>

<style>
  .section {
    border-bottom: 1px solid rgb(var(--color-default-foreground));
    display: flex;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;

    padding: 0 var(--spacing-group);
  }
</style>
