---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {}

const { class: className, ...others } = Astro.props;
---

<div class:list={["section", className]} {...others}>
  <slot />
</div>

<style>
  .section {
    border-bottom: 1px solid rgb(var(--color-default-foreground));
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: stretch;
    box-sizing: border-box;

    padding: 0
      max(calc((100vw - var(--breakpoint-lg)) / 2), var(--spacing-group));
  }
</style>
