---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  blurBackground?: boolean;
}

const { class: className, blurBackground = false, ...others } = Astro.props;
---

<div
  class:list={["section-cell", { "section-cell-blur": blurBackground }, className]}
  {...others}
>
  <slot />
</div>

<style>
  :global(.section) > .section-cell {
    box-sizing: border-box;
    overflow-y: hidden;
  }

  .section-cell-blur {
    backdrop-filter: blur(1rem);
  }
</style>
