---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
  blurBackground?: boolean;
}

const { class: className, blurBackground = false, ...others } = Astro.props;
---

<div
  class:list={["section-cell", { "section-cell-blur": blurBackground }, className]}
  {...others}
>
  <slot />
</div>

<style>
  :global(.section) > .section-cell:first-child {
    border-left: 1px solid rgb(var(--color-default-foreground));
  }
  :global(.section) > .section-cell {
    border-right: 1px solid rgb(var(--color-default-foreground));
    box-sizing: border-box;
    flex: 1 1;
    overflow-y: hidden;
  }

  .section-cell-blur {
    backdrop-filter: blur(1rem);
  }
</style>
